html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
}

.titleContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  left: 10%;
}
