html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  /* background-color: #1e1e1e; */
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-size: 3rem;
  color: #1e1e1e;
}

h2 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-size: 2.75rem;
  color: #cffcff;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #cffcff;
  margin: 0;
}

.landingImgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.landingImgContainer > div {
  width: 110%;
  height: 105%;
  position: fixed;
  margin-top: -5%;
  margin-left: -5%;
}

img {
  /* height: 105%; */
  object-fit: cover;
  /* object-position: 5% 5%; */
}
.mainContentContainer {
  position: relative;
  z-index: 0;
  background-color: #1e1e1e;
}
.section1 {
  width: 100%;
  height: 100%;
  /* background: url(../assets/landingBackground.JPG) no-repeat;
  background-size: cover; */
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headingContainer {
  height: fit-content;
  text-align: center;
}

.section2 {
  padding: 5%;
}

.section3 {
  padding: 0 5% 5% 5%;
}

.projectCardsContainer,
.skillsContainer {
  display: grid;
  gap: 1rem;
}

.projectCardsContainer {
  grid-template-columns: repeat(3, 1fr);
}

.skillsContainer {
  grid-template-columns: repeat(2, 1fr);
}

.projectCard {
  border-radius: 1rem;
  overflow: hidden;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 12rem;
  text-align: center;
  background-color: #162c40;
  transition: ease-in-out 0.25s;
}

.cardContent:hover {
  background-color: #1d3f5e;
}

.cardContent > p {
  margin-bottom: 0;
}

.cardAccent {
  height: 2rem;
  background: url(../assets/gradientVariation1.JPG) no-repeat;
  background-size: cover;
}

.skillsContainer > div {
  flex: 1;
}

.gradientUnderline {
  margin-top: 0.5rem;
  height: 0.25rem;
  background: url(../assets/gradientVariation2.JPG) no-repeat;
  background-size: cover;
}

p {
  font-weight: 200;
  color: #eef3f4;
}

.footerGradientDivider {
  height: 1rem;
  background: url(../assets/landingBackground.JPG) no-repeat;
  background-size: cover;
}

.footerContent {
  padding: 5%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to top,
    rgba(22, 44, 64, 0),
    rgba(22, 44, 64, 1)
  );
}

.footerContent > h2 {
  flex: 1;
  margin: 0;
}

button {
  background-color: #06f2fe;
  color: #1e1e1e;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  transition: ease-in-out 0.25s;
}

button:hover {
  background-color: #cffcff;
}
