html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
  /* background-color: #000324; */
  overflow: hidden;
}

li {
  float: right;
}

.home {
  float: left;
}

li a {
  display: block;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
}

li a:hover:not(.homeText):hover {
  border-bottom: 2px solid;
  padding-bottom: 12px;
}

.homeText {
  font-family: "Calistoga", serif;
  color: #1e1e1e;
  font-weight: 400;
  font-size: 1.5rem;
}
